---
Title: Cake.DotNetCoreEf
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.DotNetCoreEf is an Addin for <a href="http://cakebuild.net/">Cake</a> for executing commands with the dotnet ef command line interface (CLI). To use this addin the dotnet CLI must be installed <a href="https://www.microsoft.com/net/core#windowscmd">DotNet CLI</a>.
    </p>
</div>